@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="/counter" Icon="@(new Size20.BuildingPeople())" IconColor="Color.Accent">
                Counter
            </FluentNavLink>
            <FluentNavLink Href="/weather" Icon="@(new Size20.BuildingPeople())" IconColor="Color.Accent">
                Weather
            </FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>


@code {
    private bool expanded = true;
}
