@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{}
@code {
    private static int count = 0; 
    
    protected override void OnInitialized()
    {
        Console.WriteLine($"Hello World, {++count}");
    }
}

